body {
  margin: 0;
}

header {
  text-align: center;
}

main {
  display: grid;
  margin: 0 20vw 10vh 20vw;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

h1 {
  color: #04080f;
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

.board {
  background-color: #c8963e;
}

.food {
  background-color: #ed254e;
}

.snake {
  background-color: #c4ffb2;
}

#score,
#high-score {
  display: inline-flexbox;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
}

#play-button {
  width: 200px;
  height: 80px;
  text-align: center;
  background-color: white;
  color: #507dbc;
  border-radius: 20px;
  border: 3px solid #507dbc;
  font-size: 45px;
  margin: 15px 0px;
  outline: none;
  font-family: 'Orbitron', sans-serif;
}

#play-button:hover {
  transition-duration: 0.3s;
  background-color: #507dbc;
  color: white;
  box-shadow: 5px 5px 15px black;
}

#s {
  color: #c4ffb2;
}

#a {
  color: #ed254e;
}
