body {
  margin: 0;
}

main {
  display: grid;
  margin: 0 10vw 0 10vw;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh;
}

.board {
  background-color: darkorchid;
  height: 25vh;
  border: 1px solid black;
}

.food {
  background-color: red;
  border: 1px solid black;
}

.snake {
  background-color: green;
  border: 1px solid black;
}
