body {
  transition-duration: 0.6s;
  margin: 0;
  background-color: white;
}

header {
  text-align: center;
}

main {
  display: grid;
  margin: 0 20vw 10vh 20vw;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh;
  border: 3px solid #838e83;
}

h1 {
  color: #04080f;
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

.food {
  background-image: url(./strawberry.png);
  background-size: 100% 100%;
}

.snake {
  background-color: #7dce65;
  border-radius: 20px;
}

#score,
#high-score {
  display: inline-flexbox;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  color: #04080f;
}

.play-button {
  width: 200px;
  height: 80px;
  text-align: center;
  background-color: transparent;
  color: #7dce65;
  border-radius: 20px;
  border: 3px solid #7dce65;
  font-size: 45px;
  margin: 15px 0px;
  outline: none;
  font-family: 'Orbitron', sans-serif;
  transition-duration: 0.6s;
}

.play-button:hover {
  transition-duration: 0.3s;
  background-color: #7dce65;
  color: white;
  box-shadow: 5px 5px 15px black;
}

#s {
  color: #7dce65;
}

#a {
  color: #ed254e;
}

.game-over-box {
  display: flex;
  justify-content: center;
  color: #ed254e;
  border: none;
}

.game-over {
  font-size: 120px;
  font-family: 'Orbitron', sans-serif;
}

/*DARK MODE CSS*/

#dark-mode {
  transition-duration: 0.6s;
  position: absolute;
  right: 20px;
  top: 20px;
  outline: none;
  height: 30px;
  width: 80px;
  background-color: #21427a;
  color: rgb(238, 238, 177);
  border: none;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#day-mode {
  transition-duration: 0.6s;
  position: absolute;
  right: 20px;
  top: 20px;
  outline: none;
  height: 30px;
  width: 80px;
  background-color: rgb(238, 238, 177);
  color: #21427a;
  border: none;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.dark-body {
  transition-duration: 0.6s;
  background-color: #04080f;
}

.dark-header {
  transition-duration: 0.6s;
  color: white;
}

#dark-play-button {
  transition-duration: 0.6s;
  outline: none;
}

#dark-play-button:hover {
  transition-duration: 0.3s;
  background-color: #7dce65;
  color: #04080f;
}

/*NEXT LEVEL STYLING */

.next-level-box {
  border: none;
  display: block;
  text-align: center;
}

.next-level {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  color: #7dce65;
}

#next-level-button {
  font-family: 'Orbitron', sans-serif;
  width: 200px;
  height: 80px;
  background-color: transparent;
  color: #ed254e;
  border-radius: 20px;
  border: 3px solid #ed254e;
  font-size: 30px;
  outline: none;
}

#next-level-button:hover {
  transition-duration: 0.3s;
  background-color: #ed254e;
  color: #04080f;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
}

#dark-next-level-button {
  font-family: 'Orbitron', sans-serif;
  width: 200px;
  height: 80px;
  background-color: transparent;
  color: #ed254e;
  border-radius: 20px;
  border: 3px solid #ed254e;
  font-size: 30px;
  outline: none;
}

#dark-next-level-button:hover {
  transition-duration: 0.3s;
  color: #04080f;
  background-color: #ed254e;
}
